@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #021206;
}
p{
    opacity: 0.7;
}
button{
    border: none;
}
.container{
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;


}
.hero .row{
    align-items: center;
}
.col-4{
    width: 33.3333%;
    padding: 0 15px;
}
.col-5{
    width: 41.6666%;
    padding: 0 15px;
}
.col-7{
    width: 58.3333%;
    padding: 0 15px;
}
.col-6{
    padding: 0 15px;
    width: 50%;
}
.header{
    padding-top: 35px;
}
.header .row{
    align-items: center;
}
.menu{
    text-align: center;
    opacity: 0.5;
}
.header-auth{
    text-align: right;
}
.header-login{
    font-size: 18px;
    line-height: 27px;
    margin-right:23px ;
    opacity: 0.7;

}
.header-signup{
    background-color: #F44545;
    width: 127px;
    height: 57px;
    border-radius: 6px;
    padding: 15px 30px ;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: white;
}
.menu-item{
    margin: 0 22px;
}
.hero-title{
    font-size: 53px;
    font-weight: 600;
    line-height: 81px;
    margin-bottom: 25.4px ;

}
.hero-title span{
    background: -webkit-linear-gradient(#3EFFC0 , #18CA90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    position: relative;

}
.hero-info{
    font-size: 21px;
    line-height: 33.6px;
    margin-bottom: 25.4px;
}

.hero-title span:before{
    content: "";
    width: 18px;
    height: 8px;
    position: absolute;
    background: url("../images/dots.svg");
    right: -18px;
    bottom: 18px;
}
.feedback-form{
    position: relative;

}
.hero .feedback-form {
    margin: 0 60px 35px 0;
}
.feedback-input{
    height: 65px;
    padding: 19px 135px 19px 24px;
    border: none;
    filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 36px;
    width: 100%;
}
.feedback-input:hover{
    border: none;
}

.feedback-btn{
    width: 120px;
    height: 53px;
    font-size: 21px;
    font-weight: 500;
    border-radius: 6px;
    line-height: 31px;
    position: absolute;
    background-color: #F44545;
    color: white;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;

}

.apps-img:first-child{
    margin-right: 30px;
}
.clients{
    padding: 53px 0;
    background-color: rgba(142, 230, 201, 0.1);
}
.clients-apps{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.features{
    padding: 110px 0;
}
.features .row{
    align-items: center;
}
.cards-img{
    background: url("../images/features-cards.png") no-repeat center/cover;
    height: 655px;
    object-position: right;
    width: 55%;
    padding: 0 15px;
    margin-bottom: 143px;
}
.cards-text{
    width: 45%;
    padding: 0 15px;
}

.features-title{
    font-size: 45px;
    font-weight: 600;
    line-height: 67px;
    align-items: flex-end;
    margin-bottom: 20px;

}
.features-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 16px;
}
.features-desc{
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    margin-bottom: 20px;
}
.features-text span{
    font-weight: 600;
}
.features-link{
    display: flex;

}
.features-btn{
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 15px 40px;
    border: 1px solid black;
}
.features-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: 500;

}
.features-question{
    color: #FF4D4D;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    margin-top: 15px;
    margin-left: 25px;
    cursor: pointer;
}

.serving-container{
    height: 600px;
}
.serving-img{
    width: 55%;
    padding: 0 15px;
}
.serving-desc{
    width: 45%;
    padding: 0 15px;
}
.discover-item{
    display: flex;
    margin-bottom: 16px;
}

.checkmark{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.get-our-software{
    background-color: #F4FCFA;
    padding: 30px 0;

}
.get-our-software-container{
    height: 450px;
}

.get-our-img{
    position: absolute;
    top: -180px;
    left: 500px;
}

.rtl{
    direction: rtl;
}
.download-btn{
    background-color: #F44545;
    color: white;
    cursor: pointer;
    padding: 15px 33px;
    border: 1px solid #F44545;
    border-radius: 6px;


}
.col-6 .download-btn{
    margin-top: 20px;
}
.download-btn:hover{
    border: 1px solid #F44545;
    background-color: white;
    color: #F44545;
    border-radius: 6px;
    font-weight: 500;
}
.pricing-plan-title{
    font-size: 45px;
    font-weight: 600;
    line-height: 67.5px;
    text-align: center;
}
.pricing-subtitle{
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    opacity: 0.7;
    text-align: center;
}
input[type=range] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
}

input[type=range] + label {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    position: absolute;
    top: -25px;
    left: 110px;
    text-align: center;
    width: 80px;
}

input[type=range]:active {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    animate: 0.2s;
    background-color: purple;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}

input[type=range]::-webkit-slider-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid purple;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: -7px;
    -webkit-appearance: none;
}

input[type=range]:active::-webkit-slider-runnable-track {
    opacity: 0.8;
}
input[type=range]::-moz-range-track {
    animate: 0.2s;
    background-color: purple;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}
input[type=range]::-moz-range-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid purple;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
input[type=range]::-ms-track {
    animate: 0.2s;
    background-color: purple;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}
input[type=range]::-ms-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid purple;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
    box-sizing: border-box;
}

input[type=range]:active::-ms-fill-lower {
    background: purple;
}

input[type=range]:active::-ms-fill-upper {
    background: purple;
}
.switch{
    display:flex;
}
.switcher-before{
    font-size: 20px;
    line-height: 16px;
    color: #4E5951;
    font-weight: 400;
}
.switcher-after{
    font-size: 20px;
    line-height: 16px;
    color: #4E5951;
    font-weight: 400;

}